$color-black: #000000;
$color-black-text: #595959;
$color-gray: #999999;
$color-light-gray: #d3d3d3;
$color-teal: #5dad93;
$color-white: #ffffff;
$color-button-background: #faf9f7;
$color-teal-bright: #2fc594;
$color-footer-text: #919eab;

$font-Poppins-Regular: 400 16px Poppins, sans-serif;
$font-Poppins-Medium: 500 16px Poppins, sans-serif;
$font-Poppins-SemiBold: 600 16px Poppins, sans-serif;
$font-Soleil: 400 16px Soleil, sans-serif;

.header_nav {
  border-bottom: 1px solid #e5e5e5;
  display: flex;
  padding-left: 40px;
  height: 70px;
  width: 100%;

  h1 {
    color: $color-teal;
  }

  ul {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    margin-right: 40px;
    width: 100%;

    li {
      font: $font-Poppins-Medium;
      font-size: 12px;
      margin: 0 10px;
      text-transform: uppercase;
    }

    a {
      color: $color-black-text;
      text-decoration: none;

      &:hover {
        opacity: .7;
      }
    }
    @media only screen and (max-width: 640px) {
      a {
        display: none;
      }

      #pipe_separator {
        display: none;
      }
    }
  }

  .cart_button {
    background: transparent;
    border: 0;
    color: $color-black-text;
    cursor: pointer;
    display: flex;
    font: $font-Poppins-Medium;
    font-size: 12px;
    margin: 0 10px;
    position: relative;
    text-transform: uppercase;
    justify-content: center;

    .cart_count {
      background: $color-teal-bright;
      border-radius: 25px;
      color: $color-white;
      content: attr(itemCount);
      font: $font-Poppins-SemiBold;
      font-size: 10px;
      height: 20px;
      left: 18px;
      line-height: 20px;
      position: absolute;
      text-align: center;
      top: -12px;
      width: 20px;
      z-index: 2;
    }

    &:hover {
      opacity: .7;
    }
  }

  .logo {
    height: 35px;
    justify-content: flex-start;
    margin-top: 18px;
    text-decoration-line: none;
    width: 147px;
  }

}

.cart_image {
  margin-right: 5px;
  transform: translateY(-2px);
}

//Mobile Nav

.header_nav_mobile_ul {
  display: none;
  @media only screen and (max-width: 640px) {
    display: flex;
    justify-content: space-evenly;
    list-style: none;

    li {
      font: $font-Poppins-Medium;
      font-size: 12px;
      margin: 0 10px;
      text-transform: uppercase;
    }

    a {
      color: $color-black-text;
      padding-bottom: 5px;
      border-bottom: solid 2px;
      border-color: transparent;
      text-decoration: none;

      &:hover {
        opacity: .7;
      }
    }
  }
}

//Footer
.footer_container {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  max-height: 50px;
  max-width: 1024px;
  width: 100%;

  a {
    text-decoration: none;
  }
  @media only screen and (max-width: 640px) {
    flex-direction: column-reverse;
    max-height: 100%;
  }
}

.footer_nav_child_div {
  display: flex;
  flex-direction: column;

  a {
    font: $font-Poppins-SemiBold;
    color: $color-black-text;
    font-size: 12px;
    line-height: 39px;
  }

  a:hover {
    opacity: .7;
  }

  h3 {
    color: $color-teal;
    font: $font-Poppins-SemiBold;
    margin: 0;
    padding: 15px 0;
  }
}

.footer_left_container {
  h3 {
    font: $font-Poppins-Medium;
    font-size: 16px;
    color: $color-black-text;
    letter-spacing: 0;
    height: 46px;
    width: 378px;
  }

  h5 {
    color: $color-footer-text;
    font: $font-Poppins-SemiBold;
    font-size: 12px;
    letter-spacing: 0;
  }

  .social_ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      padding: 0 7.5px;

      img {
        height: 30px;
        width: 30px;
      }

      a:hover {
        opacity: .7;
      }
    }
  }
  @media only screen and (max-width: 640px) {
    h5 {
      text-align: center;
    }

    .social_ul {
      margin: 0 25px;
      justify-content: space-evenly;
    }
    margin: 0 auto;
    text-align: center;
    width: 100%;
  }

}
